{% extends "base.html" %}
{% load static %}


{% block contentBody %}
<!-- Begin Uren's Cart Area -->
<div class="uren-cart-area">
    <div class="container-fluid">
        {% if error_msg %}
        <div style="text-align: center;" class="alert alert-danger" role="alert">
            {{ error_msg }}
          </div>
        {% endif %}
        <div class="row">
            <div class="col-12">
                <!-- <form action="javascript:void(0)"> -->
                    <div class="table-content table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="uren-product-remove">remove</th>
                                    <th class="uren-product-thumbnail">images</th>
                                    <th class="cart-product-name">Product</th>
                                    <th class="uren-product-price">Unit Price</th>
                                    <th class="uren-product-quantity">Quantity</th>
                                    <th class="uren-product-subtotal">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cart_item in cart_items %}
                                <tr>
                                    <td class="uren-product-remove"><a href="{% url 'product:cart_delete' pk=cart_item.pk %}"><i
                                        class="fa fa-trash" title="Remove"></i></a></td>
                                        <td class="uren-product-thumbnail"><a
                                            href="{% url 'product:productDetailView' pk=cart_item.product.pk %}"><img
                                            src="{{ cart_item.product.image.url }}"
                                            alt="Uren's Cart Thumbnail"></a></td>
                                            <form method="POST">
                                            {% csrf_token %}
                                            <td class="uren-product-name">
                                                <a href="{% url 'product:productDetailView' pk=cart_item.product.pk %}">{{ cart_item.product.name }}</a>
                                                <br>
                                                <div class="product-size_box d-flex justify-content-center">
                                                <select class="myniceselect nice-select" name="variation">
                                                    {% for variation in cart_item.product.product_variation.all %}
                                                    {% if variation == cart_item.product_variant %}
                                                    <option value="{{ variation.id }}" selected>{{ variation.name }}
                                                    </option>
                                                    {% else %}
                                                    <option value="{{ variation.id }}">{{ variation.name }}</option>
                                                    {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <button type="submit" class="btn btn-secondary m-2">Update</button>
                                        </td>
                                        <td class="uren-product-price"><span class="amount">&#2547;
                                            {{ cart_item.product.offer_price }}</span>
                                            <input style="display: none;" type="number" name="cart-id" value="{{ cart_item.id }}">
                                        </td>
                                        <td class="quantity">
                                            <label>Quantity</label>
                                            <div class="cart-plus-minus">
                                                <input class="cart-plus-minus-box" name="quan" value="{{ cart_item.quantity }}"type="text">
                                                <div class="dec qtybutton">
                                                    <i class="fa fa-angle-down"></i>
                                                </div>
                                                <div class="inc qtybutton">
                                                    <i class="fa fa-angle-up"></i>
                                                </div>
                                            </div>
                                           
                                                <button type="submit" class="btn btn-secondary m-2">Update</button>
                                           
                                        </td>
                                    </form>
                                        <td class="product-subtotal"><span class="amount">&#2547;{{ cart_item.price }}</span>
                                        </td>
                                    </tr>

                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="row">
                        <div class="col-md-5 ml-auto">
                            <div class="cart-page-total">
                                <h2>Cart totals</h2>
                                <ul>
                                    <li>Subtotal <span>&#2547;{{ subtotal }}</span></li>
                                    <li>Vat <span>&#2547;{{ vat }}</span></li>
                                    <li>Delivery Charge <span>&#2547;{{ delivery }}</span></li>
                                    <li>Total <span>&#2547;{{ total }}</span></li>
                                </ul>
                                <a href="{% url 'product:checkout' %}">Proceed to checkout</a>
                            </div>
                        </div>
                    </div>
                <!-- </form> -->
            </div>
        </div>
    </div>
</div>
<!-- Uren's Cart Area End Here -->

<script>
    let dec = document.getElementById('dec');
    console.log(dec);
    dec.addEventListener('click', upper)
    function upper(e) {
        console.log(e);
    }
</script>


{% endblock contentBody %}