{% extends "base.html" %}
{% load static %}


{% block contentBody %}
<!-- Begin Uren's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">

        </div>
    </div>
</div>
<!-- Uren's Breadcrumb Area End Here -->
<!-- Begin Uren's Checkout Area -->
<div class="checkout-area">
    <div class="container-fluid">
        <!-- <div class="row">
                    <div class="col-lg-12">
                        <div class="coupon-accordion">
                            <h3>Have a coupon? <span id="showcoupon">Click here to enter your code</span></h3>
                            <div id="checkout_coupon" class="coupon-checkout-content">
                                <div class="coupon-info">
                                    <form action="javascript:void(0)">
                                        <p class="checkout-coupon">
                                            <input placeholder="Coupon code" type="text">
                                            <input class="coupon-inner_btn" value="Apply Coupon" type="submit">
                                        </p>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-6 col-12">
                    <div class="checkbox-form">
                        <h3>Address Details</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="checkout-form-list">
                                    <label>Full Name <span class="required">*</span></label>
                                    <input placeholder="Full Name" name="full_name" value="{{ address.name }}"
                                        type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkout-form-list">
                                    <label>Phone Number <span class="required">*</span></label>
                                    <input placeholder="Phone Number" name="phone" value="{{ address.phone }}"
                                        type="text">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="checkout-form-list">
                                    <label>Email</label>
                                    <input placeholder="Email" name="email" disabled value="{{ address.user.email }}"
                                        type="email">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="checkout-form-list">
                                    <label>Address <span class="required">*</span></label>
                                    <input placeholder="Street address" name="address"
                                        value="{{ address.street_address }}" type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkout-form-list">
                                    <label>Town / City <span class="required">*</span></label>
                                    <input placeholder="Town / City" name="city" value="{{ address.city }}" type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkout-form-list">
                                    <label>Postcode / Zip <span class="required">*</span></label>
                                    <input placeholder="Postcode / Zip" name="zip" value="{{ address.zip_code }}"
                                        type="text">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="your-order">
                        <h3>Your order</h3>
                        <div class="your-order-table table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="cart-product-name">Product</th>
                                        <th class="cart-product-total">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for cart_item in cart_items %}
                                    <tr class="cart_item">
                                        <td class="cart-product-name">{{ cart_item.product.name }} ({{cart_item.product_variant.name}})<strong
                                                class="product-quantity">
                                                × {{ cart_item.quantity }}</strong></td>
                                        <td class="cart-product-total" style="text-align: right;"><span class="amount">&#2547; {{ cart_item.price }}</span></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr class="cart-subtotal">
                                        <th>Cart Subtotal</th>
                                        <td style="text-align: right;"><span class="amount" >&#2547;{{ subtotal }}</span></td>
                                    </tr>
                                    <tr class="cart-subtotal">
                                        <th>Vat</th>
                                        <td style="text-align: right;"><span class="amount">&#2547;{{ vat }}</span></td>
                                    </tr>
                                    <tr class="cart-subtotal">
                                        <th>Delivary Charge</th>
                                        <td style="text-align: right;"><span class="amount">&#2547;{{ delivery }}</span></td>
                                    </tr>
                                    <tr class="order-total">
                                        <th>Order Total</th>
                                        <td style="text-align: right;"><strong><span class="amount">&#2547;{{ total }}</span></strong></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="payment-method">
                            <div class="card-header" id="#payment-3">
                                <div class="payment-accordion d-flex justify-content-center">
                                    <div id="accordion">
                                        <h5 class="panel-title">
                                            <a class="collapsed">
                                                Select Payment Method
                                            </a>
                                        </h5>
                                        <select class="myniceselect nice-select" name="payment_method">
                                            <!-- <option value="1" selected>SSLCOMMERZ</option> -->
                                            <option value="2" selected>Cash on Delivery</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="order-button-payment">
                                    <input value="Place order" type="submit">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
</form>
<!-- Uren's Checkout Area End Here -->

{% endblock contentBody %}