



#content-wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}

.column{
    position: relative;
	width: 600px;
	padding: 10px;

}

#featured{
	max-width: 500px;
	height: 500px;
	object-fit: cover;
	cursor: pointer;
    border: 1px solid #ccc;
}

.thumbnail{
	object-fit: cover;
	max-width: 180px;
	max-height: 100px;
	cursor: pointer;
	opacity: 0.5;
	margin: 5px;
	border: 1px solid dimgray;

}

.thumbnail:hover{
	opacity:1;
}

.active{
	opacity: 1;
}

#slide-wrapper{
	max-width: 500px;
	display: flex;
	min-height: 100px;
	align-items: center;
}
#slider{
	width: 460px;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;

}



.arrow{
	
	padding: 48px 5px;
    background: #4990be;
    color: #fff;
    opacity: 0.8;
    z-index: 2;
	cursor: pointer;
	transition: .3s;
}

.arrow:hover{
	opacity: .5;
}

/* ---Uren's Product Sticker---*/
.sticker {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 72px;
    line-height: 26px;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    background: #C73427;
    color: #ffffff;
    text-transform: uppercase;
    cursor: text;
    font-weight: 700;
}


.product-head__title {
    font-family: proxima-nova,sans-serif;;
    color: #406090;
    font-size: 34px;
    font-weight: 300;
    line-height: 1.2001;
    margin: 0;
}

.best-seller {
    color: #fff;
    text-align: center;
    cursor: default;
    display: inline-block;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 2em;
    overflow: hidden;
    padding: 0 2em 0 1em;
    vertical-align: top;
    text-transform: uppercase;
}

.best-seller::before {
    border-color: #f7931e transparent;
    border-style: solid;
    border-width: 1em .7em;
    content: "";
    display: block;
    margin: 0 -2em -2em -1em;
}

.product-head__best-seller {
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 28px;
    margin-top: 15px;
}

.product-buy__desc {
    margin-top: 20px;
}

.product-buy__desc__title {
    color: #444;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2001;
    margin: 0 20px 12px 0;
}
.product-buy-cell {
    background: #F4F4F4;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    padding: 16px 20px;
    position: relative;
    text-decoration: none !important;
    transition: background-color .1s ease-out,box-shadow .1s ease-out;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.product-buy-cell__title {
    color: #444;
    font-size: 13px;
    font-weight: 500;
    margin: 0 0 4px 0;
    text-transform: uppercase;
}
:root .product-buy-cell__price {
    font-size: 34px;
}
.product-price {
    color: #7ca017;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
}
.product-buy-cell.is-active {
    background-color: #f4f4f4;
    border-color: #f4f4f4;
}

.was-price {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 16px;
}

:root .product-buy-cell__was, .product-buy-cell__suffix, .product-buy-cell__more-info {
    line-height: 16px;
    margin: 5px 0 0 0;
}

.was-price strong {
    font-weight: 700;
    text-decoration: line-through;
}
 .product-buy__body {
    background: #f4f4f4;
}

.product-buy__form {
    padding: 21px;
    padding-bottom: 30px;
    position: relative;
}


@media screen and (min-width: 62.75em){
    .product-buy__form select {
        color: #444;
        font-weight: 500;
        width: 100%;
    }
}


.input {
    background: #fff;
    background-repeat: no-repeat,repeat-y;
    background-size: 24px 24px,1px 100%;
    border: 2px solid #d2d6d9;
    border-radius: 2px;
    box-shadow: none;
    box-sizing: border-box;
    color: #1e2429;
    display: inline-block;
    font-family: proxima-nova,sans-serif;
    font-weight: 400;
    line-height: 1.4001;
    min-width: 0;
    max-width: 100%;
    outline: 0 none !important;
    transition: background-color .1s ease-out,border-color .1s ease-out,box-shadow .1s ease-out,color .1s ease-out,opacity .1s ease-out,-webkit-filter .1s ease-out;
    transition: background-color .1s ease-out,border-color .1s ease-out,box-shadow .1s ease-out,color .1s ease-out,filter .1s ease-out,opacity .1s ease-out;
    transition: background-color .1s ease-out,border-color .1s ease-out,box-shadow .1s ease-out,color .1s ease-out,filter .1s ease-out,opacity .1s ease-out,-webkit-filter .1s ease-out;
    vertical-align: top;
    width: 180px;
    background-position: right 6px top 6px,right 36px top 0;
    font-size: 15px;
    height: 40px;
    padding: 8px 10px 7px 10px;
}
input:where([type="text"]), input:where([type="email"]), input:where([type="password"]), select, textarea {
    border: 1px solid #a5cdec;
    border-radius: 3px;
    padding: 5px;
}
button, input, optgroup, select, textarea {
    line-height: initial;
}
html, button, input, select, textarea {
    box-sizing: border-box;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

select.input option, select.input optgroup {
    background: #fff;
    font-family: proxima-nova,sans-serif;
}
.input--lg {
    background-position: right 6px top 11px,right 36px top 0;
    font-size: 18px;
    height: 50px;
    padding: 11px 14px 10px 14px;
}
select.input {
    background-image: url(down-arrow-backup-2-svgrepo-com.svg),linear-gradient(to bottom, #d2d6d9, #d2d6d9);
    padding-right: 36px;
    -webkit-appearance: none;
    appearance: none;
}

select~.product-buy__stock {
    margin-top: 20px;
}

.product-buy-status {
    -webkit-align-content: flex-start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: left;
}
.product-buy-status__title {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    color: #444;
    font-size: 13px;
    font-weight: 500;
    margin: 0 0 2px 0;
    text-transform: uppercase;
    width: 100%;
}
.product-buy-status .check-icon, .product-buy-status.is-positive .product-buy-status__status {
    color: #7ca017;
}
.product-buy-status__status {
    color: #a2a2a2;
    display: block;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2001;
    padding-top: 5px;
    transition: opacity .1s ease-out;
}
.done{
    position: relative;
    padding: 5px;
    font-size: 27px;
    bottom: -5px;
}
.button--green{
    position: relative;
    left: 45%;
    background-color: #8cbe1a;
    color: #fff;
    border-color: #8cbe1a;
}
.legacy .button:not(.button--weak) {
    text-transform: uppercase;
}
.js-focus-visible .legacy .button--green {
    outline: 0 none !important;
}

 :root .product-buy-status__action.button {
    font-weight: 700;
    padding-left: 0;
    padding-right: 0;
}
.product-buy-status__title {
    margin-top: 18px;
}
.button--multiline.button--lg {
    font-size: 18px;
    height: auto;
    min-height: 50px;
    line-height: 1.3126;
    padding: 13px 24px;
    white-space: normal;
}
@media screen and (min-width: 71.25em){

    .product-buy-status__action {
        margin-top: 6px;
        width: 210px;
    }
}
@media screen and (max-width: 71.25em){

    .product-buy-status__action {
        margin-top: 6px;
        width: 210px;
        font-size: 18px !important;
        left: 15%;
        top: -20px;
    }
}
.product-buy-status__action {
    box-sizing: border-box;
    text-align: center;
}
.button--multiline {
    font-size: 15px;
    height: auto;
    min-height: 40px;
    line-height: 1.3126;
    padding: 10px 19px;
    white-space: normal;
}
.button--lg {
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    padding: 0 24px;
}
.button {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 2.5px;
    border: 0 solid;
    display: inline-block;
    font-family: proxima-nova,sans-serif;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    transition: background-color .1s ease-out,border-color .1s ease-out,box-shadow .1s ease-out,color .1s ease-out,opacity .1s ease-out,-webkit-filter .1s ease-out;
    transition: background-color .1s ease-out,border-color .1s ease-out,box-shadow .1s ease-out,color .1s ease-out,filter .1s ease-out,opacity .1s ease-out;
    transition: background-color .1s ease-out,border-color .1s ease-out,box-shadow .1s ease-out,color .1s ease-out,filter .1s ease-out,opacity .1s ease-out,-webkit-filter .1s ease-out;
    vertical-align: top;
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    padding: 0 19px;
}
button, [type=button], [type=reset], [type=submit] {
    cursor: pointer;
    -webkit-appearance: button;
}
button, input, optgroup, select, textarea {
    line-height: initial;
}
html, button, input, select, textarea {
    box-sizing: border-box;
}
a, button, input, label {
    touch-action: manipulation;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
/* 
.js-focus-visible .legacy .button--green {
    outline: 0 none !important;
}
.legacy .button:not(.button--weak) {
    text-transform: uppercase;
}

.legacy .button--green {
    background: #8cbe1a;
    border-color: #8cbe1a;
    color: #fff;
}
.button--multiline.button--lg {
    font-size: 18px;
    height: auto;
    min-height: 50px;
    line-height: 1.3126;
    padding: 13px 24px;
    white-space: normal;
}
.js-focus-visible .button, .js-focus-visible .button--green {
    outline: 0 none !important;
}
.button[aria-disabled], .button:disabled {
    cursor: default;
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
    opacity: .5;
}
@media screen and (min-width: 71.25em){
    .product-buy-status__action {
        margin-top: 6px;
        width: 210px;
    }
}  

    */


.quantity-num {
    position: relative;
  }

/* @media screen and (max-width:800px){
    .quantity-num {
        margin: 10px auto;
      }
} */
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button
  {
    -webkit-appearance: none;
    margin: 0;
  }
  
  input[type=number]
  {
    -moz-appearance: textfield;
  }
  
  .quantity-num input {
    width: 45px;
    height: 45px;
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    border: 2px solid #d2d6d9;
  }
  
  .quantity-num input:focus {
    outline: 0;
  }
  
  .quantity-nav {
    float: left;
    position: relative;
    height: 45px;
    left: 25px;
  }
  
  .quantity-button {
    position: relative;
    cursor: pointer;
    border-left: 1px solid #7ca017;
    background-color: #4990be;
    width: 25px;
    text-align: center;
    color: #333;
    font-size: 13px;
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    line-height: 1.7;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  
  .quantity-button.quantity-up {
    position: absolute;
    height: 50%;
    top: 0;
    border-bottom: 1px solid #eee;
  }
  
  .quantity-button.quantity-down {
    position: absolute;
    bottom: -1px;
    height: 50%;
  }