{% extends "base.html" %}
{% load static %}
{% block contentBody %}

<div class="popular-search_area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="popular-search">
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="uren-slider_area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-slider slider-navigation_style-2">
                    <!-- Begin Single Slide Area -->
                    <div class="single-slide animation-style-01 bg-1">
                        <div class="slider-content">
                            <span>New thinking new possibilities</span>
                            <h3>Car interior</h3>
                            <h4>Starting at <span>$99.00</span></h4>
                        </div>
                    </div>
                    <!-- Single Slide Area End Here -->
                    <!-- Begin Single Slide Area -->
                    <div class="single-slide animation-style-02 bg-2">
                        <div class="slider-content slider-content-2">
                            <span class="primary-text_color">Car, Truck, CUV &amp; SUV Tires</span>
                            <h3>Wheels &amp; Tires</h3>
                            <h4>Sale up to 20% off</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="uren-shipping_area">
    <div class="container-fluid">
        <div class="shipping-nav">
            <div class="row no-gutters">
                <div class="shipping-grid">
                    <div class="shipping-item">
                        <div class="shipping-icon">
                            <i class="ion-ios-paperplane-outline"></i>
                        </div>
                        <div class="shipping-content">
                            <h6>Free Shipping</h6>
                            <p>Free shipping on all US order</p>
                        </div>
                    </div>
                </div>
                <div class="shipping-grid">
                    <div class="shipping-item">
                        <div class="shipping-icon">
                            <i class="ion-ios-help-outline"></i>
                        </div>
                        <div class="shipping-content">
                            <h6>Support 24/7</h6>
                            <p>Contact us 24 hours a day</p>
                        </div>
                    </div>
                </div>
                <div class="shipping-grid">
                    <div class="shipping-item">
                        <div class="shipping-icon">
                            <i class="ion-ios-refresh-empty"></i>
                        </div>
                        <div class="shipping-content">
                            <h6>100% Money Back</h6>
                            <p>You have 30 days to Return</p>
                        </div>
                    </div>
                </div>
                <div class="shipping-grid">
                    <div class="shipping-item">
                        <div class="shipping-icon">
                            <i class="ion-ios-undo-outline"></i>
                        </div>
                        <div class="shipping-content">
                            <h6>90 Days Return</h6>
                            <p>If goods have problems</p>
                        </div>
                    </div>
                </div>
                <div class="shipping-grid">
                    <div class="shipping-item">
                        <div class="shipping-icon">
                            <i class="ion-ios-locked-outline"></i>
                        </div>
                        <div class="shipping-content last-child">
                            <h6>Payment Secure</h6>
                            <p>We ensure secure payment</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
       <!-- Begin Special Product Area -->
       <div class="special-product_area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title_area">
                        <span>Top Featured Collections</span>
                        <h3>Featured Product</h3>
                    </div>
                    <div class="special-product_slider uren-slick-slider slider-navigation_style-1 img-hover-effect_area" data-slick-options='{
                    "slidesToShow": 2,
                    "arrows" : true
                    }' data-slick-responsive='[
                                            {"breakpoint":768, "settings": {"slidesToShow": 1}}
                                        ]'>
                        {% for product in products %}
                        <div class="slide-item">
                            <div class="inner-slide">
                                <div class="single-product">
                                    <div class="product-img">
                                        <a href="{% url 'product:productDetailView' pk=product.pk %}">
                                            <img class="primary-img" src="{{ product.image.url }}" alt="{{ product.name }}">
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-desc_info">
                                            <div class="uren-countdown_area">
                                                <div class="countdown-wrap">
                                                    <h6 class="product-name"><a href="{% url 'product:productDetailView' pk=product.pk %}">{{ product.name }}</a></h6>
                                                </div>
                                            </div>
                                            <div class="rating-box">
                                                <ul>
                                                    <li><i class="ion-android-star"></i></li>
                                                    <li><i class="ion-android-star"></i></li>
                                                    <li><i class="ion-android-star"></i></li>
                                                    <li class="silver-color"><i class="ion-android-star"></i></li>
                                                    <li class="silver-color"><i class="ion-android-star"></i></li>
                                                </ul>
                                            </div>
                                            <div class="price-box">
                                                <span class="new-price new-price-2">&#2547;{{ product.offer_price }}</span>
                                                <span class="old-price">&#2547;{{ product.regular_price }}</span>
                                            </div>
                                            <div class="add-actions">
                                                <ul>
                                                    <li><a class="uren-add_cart" href="{% url 'product:add_cart' pk=product.pk %}" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i
                                                            class="ion-bag"></i>Add To Cart</a>
                                                    </li>
                                                    <!-- <li><a class="uren-wishlist" href="wishlist.html" data-toggle="tooltip" data-placement="top" title="Add To Wishlist"><i class="ion-android-favorite-outline"></i></a>
                                                    </li> -->
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>   
                </div>
            </div>
        </div>
    </div>
    <!-- Special Product Area End Here -->


            <!-- Begin Uren's Product Area -->
            <div class="uren-product_area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title_area">
                                <span>Top New On This Week</span>
                                <h3>New Arrivals Products</h3>
                            </div>
                            <div class="product-slider uren-slick-slider slider-navigation_style-1 img-hover-effect_area" data-slick-options='{
                            "slidesToShow": 6,
                            "arrows" : true
                            }' data-slick-responsive='[
                                                    {"breakpoint":1501, "settings": {"slidesToShow": 4}},
                                                    {"breakpoint":1200, "settings": {"slidesToShow": 3}},
                                                    {"breakpoint":992, "settings": {"slidesToShow": 2}},
                                                    {"breakpoint":767, "settings": {"slidesToShow": 1}},
                                                    {"breakpoint":480, "settings": {"slidesToShow": 1}}
                                                ]'>
                                {% for product in products %}
                                <div class="product-slide_item">
                                    <div class="inner-slide">
                                        <div class="single-product">
                                            <div class="product-img">
                                                <a href="{% url 'product:productDetailView' pk=product.pk %}">
                                                    <img class="primary-img" src="{{ product.image.url }}" alt="Uren's Product Image">
                                                </a>
                                                <div class="sticker">
                                                    <span class="sticker">{{ product.product_tag.name }}</span>
                                                </div>
                                                <div class="add-actions">
                                                    <ul>
                                                        <li><a class="uren-add_cart" href="{% url 'product:add_cart' pk=product.pk %}" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="ion-bag"></i></a>
                                                        </li>
                                                        <!-- <li><a class="uren-wishlist" href="wishlist.html" data-toggle="tooltip" data-placement="top" title="Add To Wishlist"><i class="ion-android-favorite-outline"></i></a> -->
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <div class="product-desc_info">
                                                    <div class="rating-box">
                                                        <ul>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li class="silver-color"><i class="ion-android-star"></i></li>
                                                            <li class="silver-color"><i class="ion-android-star"></i></li>
                                                        </ul>
                                                    </div>
                                                    <h6><a class="product-name" href="{% url 'product:productDetailView' pk=product.pk %}">{{ product.name }}</a></h6>
                                                    <div class="price-box">
                                                        <span class="new-price">&#2547;{{ product.offer_price }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Uren's Product Area End Here -->
                    <!-- Begin Uren's Banner Three Area -->
        <div class="uren-banner_area uren-banner_area-3">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="banner-item img-hover_effect">
                            <div class="banner-img"></div>
                            <div class="banner-content">
                                <span class="contact-info"><i class="ion-android-call"></i> +880 1703-081812</span>
                                <h4>Anytime & Anywhere </h4>
                                <h3>You are.</h3>
                                <p>Est erat faucibus purus, eget viverra nulla sem vitae
                                    Quisque id sodales libero...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Uren's Banner Three Area End Here -->
{% endblock contentBody %}