{% extends "pass_base.html" %}
{% load static %}

{% block contentHead %}
<link rel="stylesheet" href="{% static 'style/index.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<style>
    .loader {
        border: 16px solid #b3b3b3;
        border-radius: 50%;
        border-top: 16px solid #0097DC;
        border-bottom: 16px solid #0097DC;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>

{% endblock contentHead %}
{% block contentBody %}

<div id="loaders" class="container d-flex justify-content-center align-items-center d-none" style="height: 100vh;">
    <div class="loader"></div>
</div>

<div id="resetPass" class="container reset-pass d-flex justify-content-center align-items-center">
    <div class="col-md-6 reset-pass-card">
        <div class="row">
            <div class="col-md-12">
                <img class="logo-image" src="{% static 'assets/images/menu/logo/1.png' %}" alt="logo">
            </div>
        </div>
        <div class="row">
            <h2>Reset Password</h2>
            <div>
                <p class="card-text pb-3">Forgotten your password? <br> Enter your email address below, and we’ll email
                    instructions.</p>
            </div>
        </div>
        <form id="reset-pass-form" method="post">
            {% csrf_token %}
            <div class="mb-3 row">
                <label for="email" class="form-label">Enter Email:</label>
                <br>
                <div class="col-sm-12">
                  <input type="email" placeholder="Enter Email" class="form-control" name="email" id="email">
                </div>
            </div>
            <input style="display: none;" type="number" name="sendCount" value="0">
            <br>
            <button type="submit" class="btn my-button">Send mail</button>
        </form>
    </div>
</div>



<script type="text/javascript">
    document.querySelector("#id_email").setAttribute("placeholder", "Please enter your email address");
    const resetPass = document.querySelector('#resetPass');
    const resetPassForm = document.querySelector('#reset-pass-form');
    const loaders = document.querySelector('#loaders')
    resetPassForm.addEventListener("submit", function (e) {
        resetPass.classList.add("d-none");
        loaders.classList.remove("d-none");
        console.log("resetPass.style.display = 'none !important", resetPassForm)
    })
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
{% endblock contentBody %}