{% extends "pass_base.html" %}
{% load static %}

{% block contentHead %}
<link rel="stylesheet" href="{% static 'style/index.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% endblock contentHead %}
{% block contentBody %}

<div class="container reset-pass d-flex justify-content-center align-items-center">
    <div class="col-md-6 reset-pass-card">
        <div class="row">
            <div class="col-md-12">
                <img class="logo-image" src="{% static 'assets/images/menu/logo/1.png' %}" alt="logo">
            </div>
        </div>
        <div class="row">
            <h2>Enter New Password</h2>
            <div>
                <p class="card-text">Please enter your new password twice.</p>
            </div>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3 row">
                <label for="id_new_password1" class="form-label">New Password:</label>
                <br>
                <div class="col-sm-12">
                  <input type="password" placeholder="New password" class="form-control" name="new_password1" id="id_new_password1">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="id_new_password2" class="form-label">Confirmation:</label>
                <br>
                <div class="col-sm-12">
                  <input type="password" placeholder="Confirmation" name="new_password2" class="form-control" id="id_new_password2">
                </div>
            </div>
            <br>
            <button type="submit" class="btn my-button">Change Password</button>
        </form>
    </div>
</div>

<script>
    document.querySelector('#id_new_password1').setAttribute("placeholder", 'New password')
    document.querySelector('#id_new_password2').setAttribute("placeholder", 'New password confirmation')
</script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
{% endblock contentBody %}