{% extends "pass_base.html" %}
{% load static %}

{% block contentHead %}
<link rel="stylesheet" href="{% static 'style/index.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% endblock contentHead %}
{% block contentBody %}

<div class="container reset-pass d-flex justify-content-center align-items-center">
    <div class="col-md-6 reset-pass-card">
        <div class="row">
            <div class="col-md-12">
                <img class="logo-image" src="{% static 'assets/images/menu/logo/1.png' %}" alt="logo">
            </div>
        </div>
        <div class="row">
            <h2>Reset Password Email Sent!</h2>
            <div>
                <p class="card-text">Please check your inbox and spam box.</p>
          
                <form id="resendForm" action="{% url 'auth_user:password_reset' %}" method="POST">
                    {% csrf_token %}
                    {{form}}
                    <input style="display: none;" type="number" name="sendCount" value="1">
                    <button type="submit" id="org">Resend</button>
                </form>
                <a id="goBack" href="#">Didn't get a mail?</a>
                <a id="password_reset" href="{% url 'auth_user:password_reset' %}">Go back</a>
                <p id="timeview" >Time : <span id="time"></span></p>
            </div>
        </div>
    </div>
</div>
<script>
    const email = `{{email}}`
    document.querySelector('#id_email').value = email;
    const cardText = document.querySelector('.card-text')
    const mailSend = document.getElementById("org");
    const password_reset = document.getElementById("password_reset");
    const goBack = document.getElementById("goBack");
    const time = document.getElementById("time");
    goBack.style.pointerEvents = "none";
    goBack.style.color = "#8d8d8d";
    var i = 300;  
    if ({{countSender}} === 0){
        password_reset.style.display = "none"
        function myLoop() {        
            setTimeout(function () {   
                console.log("myLoop")
                i--;                 
                if (i != 0) {           
                    var minutes = Math.floor(i / 60);
                    var seconds = i - minutes * 60;
                    document.getElementById("time").innerHTML = '';
                    if(seconds.toString().length === 1){
                        time.innerHTML = `${minutes.toString()}:0${seconds.toString()}s`;
                    }
                    else {
                        time.innerHTML = `${minutes.toString()}:${seconds.toString()}s`;
                    }
                    myLoop();            
                }  
                else if(i === 0){ 
                    time.innerHTML = `0:00s`;
                    goBack.style.pointerEvents = "auto";
                    goBack.style.color = "#0A58CA";
                }
            }, 1000)
        }
        myLoop();
        goBack.addEventListener("click", (event) =>{
            if (goBack.style.pointerEvents == 'auto'){
                mailSend.click()
            }
            else{
                console.log(event.target)
            }
        })
    }
    else{
        cardText.innerHTML = "Email sent again! " + cardText.innerHTML;
        password_reset.style.display = "block"
        goBack.style.display = "none";
        document.getElementById('timeview').style.display = "none";
    }         
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
{% endblock contentBody %}