{% extends "base.html" %}
{% load static %}


{% block contentBody %}
<!-- Begin Uren's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">

        </div>
    </div>
</div>
<!-- Uren's Breadcrumb Area End Here -->
<!-- Begin Contact Main Page Area -->
<div class="contact-main-page">
    <div class="container-fluid">
        {% if message == 'Successfully send your Message.' %}
        <div class="alert alert-success" style="text-align: center;" id="error" role="alert">
            {{ message }}
          </div>
        {% endif %}
        <div class="row">
            <div class="col-lg-5 offset-lg-1 col-md-12 order-1 order-lg-2">
                <div class="contact-page-side-content">
                    <h3 class="contact-page-title">Contact Us</h3>
                    <p class="contact-page-message">Claritas est etiam processus dynamicus, qui sequitur
                        mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum
                        claram anteposuerit litterarum formas human.</p>
                    <div class="single-contact-block">
                        <h4><i class="fa fa-fax"></i> Address</h4>
                        <p>123 Main Street, Anytown, CA 12345 – USA</p>
                    </div>
                    <div class="single-contact-block">
                        <h4><i class="fa fa-phone"></i> Phone</h4>
                        <p>Mobile: (08) 123 456 789</p>
                        <p>Hotline: 1009 678 456</p>
                    </div>
                    <div class="single-contact-block last-child">
                        <h4><i class="fa fa-envelope-o"></i> Email</h4>
                        <p>yourmail@domain.com</p>
                        <p>support@hastech.company</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 order-2 order-lg-1">
                <div class="contact-form-content">
                    <h3 class="contact-page-title">Tell Us Your Message</h3>
                    <div class="contact-form">
                        <form id="contact-form"  method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>Your Name <span class="required">*</span></label>
                                <input type="text" name="con_name" id="con_name" required>
                            </div>
                            <div class="form-group">
                                <label>Your Email <span class="required">*</span></label>
                                <input type="email" name="con_email" id="con_email" required>
                            </div>
                            <div class="form-group">
                                <label>Subject</label>
                                <input type="text" name="con_subject" id="con_subject">
                            </div>
                            <div class="form-group form-group-2">
                                <label>Your Message</label>
                                <textarea name="con_message" id="con_message"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" value="submit" id="submit" class="uren-contact-form_btn"
                                    name="submit">send</button>
                            </div>
                        </form>
                    </div>
                    <p class="form-messege"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact Main Page Area End Here -->
<script>
    
    const myTimeout = setTimeout(myStopFunction, 10000);
    function myStopFunction() {
    document.getElementById('error').style.display = 'none';
    }
    
    // document.getElementById('submit').addEventListener('mouseover', (event) => {
    //     const name = document.getElementById('con_name').value;
    //     const email = document.getElementById('con_email').value;
    //     const subject = document.getElementById('con_subject').value;
    //     const message = document.getElementById('con_message').value;
    //     console.log(name, email, subject, message);
    //     if (name != '' && email != '' && subject !='' && message != '') {
    //         console.log("work")
    //         document.getElementById('submit').removeAttribute('disabled');
    //     }
    // })
</script>

{% endblock contentBody %}