{% extends "base.html" %}
{% load static %}


{% block contentBody %}
<!-- Begin Uren's Shop Grid Fullwidth  Area -->
<div class="shop-content_wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <!-- <div class="shop-toolbar">
                    <div class="product-view-mode">
                        <a class="grid-1" data-target="gridview-1" data-toggle="tooltip" data-placement="top"
                            title="1">1</a>
                        <a class="grid-2" data-target="gridview-2" data-toggle="tooltip" data-placement="top"
                            title="2">2</a>
                        <a class="active grid-3" data-target="gridview-3" data-toggle="tooltip" data-placement="top"
                            title="3">3</a>
                        <a class="grid-4" data-target="gridview-4" data-toggle="tooltip" data-placement="top"
                            title="4">4</a>
                        <a class="grid-5" data-target="gridview-5" data-toggle="tooltip" data-placement="top"
                            title="5">5</a>
                    </div>
                </div> -->
                {% if  page_obj %}
                <div class="shop-product-wrap grid gridview-4 listfullwidth img-hover-effect_area row">
                    {% for product in page_obj  %}
                    <div class="col-lg-4">
                        <div class="product-slide_item">
                            <div class="inner-slide">
                                <div class="single-product">
                                    <div class="product-img">
                                        <a href="{% url 'product:productDetailView' pk=product.pk %}">
                                            <img class="primary-img" src="{{ product.image.url }}"
                                                alt="Uren's Product Image">
                                        </a>
                                        <div class="sticker">
                                            <span class="sticker">{{ product.product_tag.name }}</span>
                                        </div>
                                        <div class="add-actions">
                                            <ul>
                                                <li><a class="uren-add_cart" href="cart.html" data-toggle="tooltip"
                                                        data-placement="top" title="Add To Cart"><i
                                                            class="ion-bag"></i></a>
                                                </li>
                                                <!-- <li><a class="uren-wishlist" href="wishlist.html" data-toggle="tooltip"
                                                        data-placement="top" title="Add To Wishlist"><i
                                                            class="ion-android-favorite-outline"></i></a>
                                                </li> -->
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-desc_info">
                                            <div class="rating-box">
                                                <ul>
                                                    <li><i class="ion-android-star"></i></li>
                                                    <li><i class="ion-android-star"></i></li>
                                                    <li><i class="ion-android-star"></i></li>
                                                    <li class="silver-color"><i class="ion-android-star"></i>
                                                    </li>
                                                    <li class="silver-color"><i class="ion-android-star"></i>
                                                    </li>
                                                </ul>
                                            </div>
                                            <h6><a class="product-name" href="{% url 'product:productDetailView' pk=product.pk %}">{{ product.name }}</a></h6>
                                            <div class="price-box">
                                                <span class="new-price">&#2547; {{ product.offer_price }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
           

                <div class="container d-flex justify-content-center">
                    <div class="col-lg-12">
                        <div class="uren-paginatoin-area">
                            <div class="row">
                                <div class="col-lg-12">
                                    <ul class="uren-pagination-box primary-color">
                                        {% if page_obj.has_previous %}
                                           <li><a class="Next" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                                        {% endif %}
                                        <li><a href="javascript:void(0)" style="color: #FFC400;" disabled>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>
                                        {% if page_obj.has_next %}
                                        <li><a class="Next" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            {% else %}
            <div class="" style="text-align: center; padding-bottom: 30px;">
                <p>No product available.</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- Uren's Shop Grid Fullwidth  Area End Here -->



{% endblock contentBody %}