{% extends "base.html" %}
{% load static %}


{% block header %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
            integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <style>
        



#content-wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
    margin-top: 50px;
}

.column{
    position: relative;
	width: 600px;
	padding: 10px;

}
#featured{
    max-width: none ;
    max-height: none;
}
#featured{
	max-width: 500px !important;
	height: 500px !important;
	object-fit: cover;
	cursor: pointer;
    border: 1px solid #ccc;
}

.thumbnail{
	object-fit: cover;
	max-width: 180px;
	max-height: 100px;
	cursor: pointer;
	opacity: 0.5;
	margin: 5px;
	border: 1px solid dimgray;

}

.thumbnail:hover{
	opacity:1;
}

.active{
	opacity: 1;
}

#slide-wrapper{
	max-width: 500px;
	display: flex;
	min-height: 100px;
	align-items: center;
}
#slider{
	width: 460px;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;

}



.arrow{
	
	padding: 48px 5px;
    background: #4990be;
    color: #fff;
    opacity: 0.8;
    z-index: 2;
	cursor: pointer;
	transition: .3s;
}

.arrow:hover{
	opacity: .5;
}

/* ---Uren's Product Sticker---*/
.sticker {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 72px;
    line-height: 26px;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    background: #C73427;
    color: #ffffff;
    text-transform: uppercase;
    cursor: text;
    font-weight: 700;
}


.product-head__title {
    font-family: proxima-nova,sans-serif;;
    color: #406090;
    font-size: 34px;
    font-weight: 300;
    line-height: 1.2001;
    margin: 0;
}

.best-seller {
    color: #fff;
    text-align: center;
    cursor: default;
    display: inline-block;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 2em;
    overflow: hidden;
    padding: 0 2em 0 1em;
    vertical-align: top;
    text-transform: uppercase;
}

.best-seller::before {
    border-color: #f7931e transparent;
    border-style: solid;
    border-width: 1em .7em;
    content: "";
    display: block;
    margin: 0 -2em -2em -1em;
}

.product-head__best-seller {
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 28px;
    margin-top: 15px;
}

.product-buy__desc {
    margin-top: 20px;
}

.product-buy__desc__title {
    color: #444;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2001;
    margin: 0 20px 12px 0;
}
.product-buy-cell {
    background: #F4F4F4;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    padding: 16px 20px;
    position: relative;
    text-decoration: none !important;
    transition: background-color .1s ease-out,box-shadow .1s ease-out;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.product-buy-cell__title {
    color: #444;
    font-size: 13px;
    font-weight: 500;
    margin: 0 0 4px 0;
    text-transform: uppercase;
}
:root .product-buy-cell__price {
    font-size: 34px;
}
.product-price {
    color: #7ca017;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
}
.product-buy-cell.is-active {
    background-color: #f4f4f4;
    border-color: #f4f4f4;
}

.was-price {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 16px;
}

:root .product-buy-cell__was, .product-buy-cell__suffix, .product-buy-cell__more-info {
    line-height: 16px;
    margin: 5px 0 0 0;
}

.was-price strong {
    font-weight: 700;
    text-decoration: line-through;
}
 .product-buy__body {
    background: #f4f4f4;
}

.product-buy__form {
    padding: 21px;
    padding-bottom: 30px;
    position: relative;
}


@media screen and (min-width: 62.75em){
    .product-buy__form select {
        color: #444;
        font-weight: 500;
        width: 100%;
    }
}


.input {
    background: #fff;
    background-repeat: no-repeat,repeat-y;
    background-size: 24px 24px,1px 100%;
    border: 2px solid #d2d6d9;
    border-radius: 2px;
    box-shadow: none;
    box-sizing: border-box;
    color: #1e2429;
    display: inline-block;
    font-family: proxima-nova,sans-serif;
    font-weight: 400;
    line-height: 1.4001;
    min-width: 0;
    max-width: 100%;
    outline: 0 none !important;
    transition: background-color .1s ease-out,border-color .1s ease-out,box-shadow .1s ease-out,color .1s ease-out,opacity .1s ease-out,-webkit-filter .1s ease-out;
    transition: background-color .1s ease-out,border-color .1s ease-out,box-shadow .1s ease-out,color .1s ease-out,filter .1s ease-out,opacity .1s ease-out;
    transition: background-color .1s ease-out,border-color .1s ease-out,box-shadow .1s ease-out,color .1s ease-out,filter .1s ease-out,opacity .1s ease-out,-webkit-filter .1s ease-out;
    vertical-align: top;
    width: 180px;
    background-position: right 6px top 6px,right 36px top 0;
    font-size: 15px;
    height: 40px;
    padding: 8px 10px 7px 10px;
}
input:where([type="text"]), input:where([type="email"]), input:where([type="password"]), select, textarea {
    border: 1px solid #a5cdec;
    border-radius: 3px;
    padding: 5px;
}
button, input, optgroup, select, textarea {
    line-height: initial;
}
html, button, input, select, textarea {
    box-sizing: border-box;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

select.input option, select.input optgroup {
    background: #fff;
    font-family: proxima-nova,sans-serif;
}
.input--lg {
    background-position: right 6px top 11px,right 36px top 0;
    font-size: 18px;
    height: 50px;
    padding: 11px 14px 10px 14px;
}
select.input {
    background-image: url({% static 'images/down-arrow-backup-2-svgrepo-com.svg' %}),linear-gradient(to bottom, #d2d6d9, #d2d6d9);
    padding-right: 36px;
    -webkit-appearance: none;
    appearance: none;
}

select~.product-buy__stock {
    margin-top: 20px;
}

.product-buy-status {
    -webkit-align-content: flex-start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: left;
}
.product-buy-status__title {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    color: #444;
    font-size: 13px;
    font-weight: 500;
    margin: 0 0 2px 0;
    text-transform: uppercase;
    width: 100%;
}
.product-buy-status .check-icon, .product-buy-status.is-positive .product-buy-status__status {
    color: #7ca017;
}
.product-buy-status__status {
    color: #a2a2a2;
    display: block;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2001;
    padding-top: 5px;
    transition: opacity .1s ease-out;
}
.done{
    position: relative;
    padding: 5px;
    font-size: 27px;
    bottom: -5px;
}
.button--green{
    position: relative;
    left: 45%;
    background-color: #8cbe1a;
    color: #fff;
    border-color: #8cbe1a;
}
.legacy .button:not(.button--weak) {
    text-transform: uppercase;
}
.js-focus-visible .legacy .button--green {
    outline: 0 none !important;
}

 :root .product-buy-status__action.button {
    font-weight: 700;
    padding-left: 0;
    padding-right: 0;
}
.product-buy-status__title {
    margin-top: 18px;
}
.button--multiline.button--lg {
    font-size: 18px;
    height: auto;
    min-height: 50px;
    line-height: 1.3126;
    padding: 13px 24px;
    white-space: normal;
}
@media screen and (min-width: 71.25em){

    .product-buy-status__action {
        margin-top: 6px;
        width: 210px;
    }
}
@media screen and (max-width: 71.25em){

    .product-buy-status__action {
        margin-top: 6px;
        width: 210px;
        font-size: 18px !important;
        left: 15%;
        top: -20px;
    }
}
.product-buy-status__action {
    box-sizing: border-box;
    text-align: center;
}
.button--multiline {
    font-size: 15px;
    height: auto;
    min-height: 40px;
    line-height: 1.3126;
    padding: 10px 19px;
    white-space: normal;
}
.button--lg {
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    padding: 0 24px;
}
.button {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: white !important;
    border-radius: 2.5px;
    border: 0 solid;
    display: inline-block;
    font-family: proxima-nova,sans-serif;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    transition: background-color .1s ease-out,border-color .1s ease-out,box-shadow .1s ease-out,color .1s ease-out,opacity .1s ease-out,-webkit-filter .1s ease-out;
    transition: background-color .1s ease-out,border-color .1s ease-out,box-shadow .1s ease-out,color .1s ease-out,filter .1s ease-out,opacity .1s ease-out;
    transition: background-color .1s ease-out,border-color .1s ease-out,box-shadow .1s ease-out,color .1s ease-out,filter .1s ease-out,opacity .1s ease-out,-webkit-filter .1s ease-out;
    vertical-align: top;
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    padding: 0 19px;
}
a {
    color: dimgray !important; 
    text-decoration: none!important;
    background-color: transparent !important;
}
button, [type=button], [type=reset], [type=submit] {
    cursor: pointer;
    -webkit-appearance: button;
}
button, input, optgroup, select, textarea {
    line-height: initial;
}
html, button, input, select, textarea {
    box-sizing: border-box;
}
button, input, label {
    touch-action: manipulation;
}

button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}

.js-focus-visible .legacy .button--green {
    outline: 0 none !important;
}
.legacy .button:not(.button--weak) {
    text-transform: uppercase;
}

.legacy .button--green {
    background: #8cbe1a;
    border-color: #8cbe1a;
    color: #fff;
}
.button--multiline.button--lg {
    font-size: 18px;
    height: auto;
    min-height: 50px;
    line-height: 1.3126;
    padding: 13px 24px;
    white-space: normal;
}
.js-focus-visible .button, .js-focus-visible .button--green {
    outline: 0 none !important;
}

@media screen and (min-width: 71.25em){
    .product-buy-status__action {
        margin-top: 6px;
        width: 210px;
    }
}  



.quantity-num {
    position: relative;
  }

/* @media screen and (max-width:800px){
    .quantity-num {
        margin: 10px auto;
      }
} */
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button
  {
    -webkit-appearance: none;
    margin: 0;
  }
  
  input[type=number]
  {
    -moz-appearance: textfield;
  }
  
  .quantity-num input {
    width: 45px;
    height: 45px;
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    border: 2px solid #d2d6d9;
  }
  
  .quantity-num input:focus {
    outline: 0;
  }
  
  .quantity-nav {
    float: left;
    position: relative;
    height: 45px;
    left: 25px;
  }
  
  .quantity-button {
    position: relative;
    cursor: pointer;
    border-left: 1px solid #7ca017;
    background-color: #4990be;
    width: 25px;
    text-align: center;
    color: #333;
    font-size: 13px;
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    line-height: 1.7;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  
  .quantity-button.quantity-up {
    position: absolute;
    height: 50%;
    top: 0;
    border-bottom: 1px solid #eee;
  }
  
  .quantity-button.quantity-down {
    position: absolute;
    bottom: -1px;
    height: 50%;
  }
    </style>
{% endblock header %}

{% block contentBody %}


<!-- Begin Uren's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">

        </div>
    </div>
</div>
<!-- Uren's Breadcrumb Area End Here -->

<!-- Begin Uren's Single Product Area -->
<!-- <div class="sp-area">
    <div class="container-fluid">
        <div class="sp-nav">-->
            <div id="content-wrapper"> 


                <div class="column">
                    <img id=featured src="{{ object.image.url }}">
                    <div class="sticker">
                        <span class="sticker">{{ object.product_tag.name }}</span>
                    </div>
        
                    <div id="slide-wrapper">
                        <span id="slideLeft" class="arrow"><i class="fa-solid fa-chevron-left"></i></span>
                        <div id="slider">
                            <img class="thumbnail active" src="{{ object.image.url }}">
                            {% for productImage in productImages %}
                            <img class="thumbnail " src="{{ productImage.images.url }}">
                            {% endfor %}
                        </div>
        
                        <span id="slideRight" class="arrow"><i class="fa-solid fa-chevron-right"></i></span>
        
                    </div>
                </div>
        
                <div class="column">
                    <h1 class="product-head__title">{{ object.name }}</h1>
        
                    <div class="product-head__best-seller">
                        <div class="best-seller">
                            <span>
                                <i class="fa-sharp fa-solid fa-ribbon"></i>
                            </span>
                            Best Seller
                        </div>
                        in <a href="#">{{ object.brand.name }}</a>
                    </div>
                    <div class="product-buy__desc">
                        <h2 class="product-buy__desc__title">
                            {{ object.short_description }}
                        </h2>
                    </div>
                    <div class="row">
                        <div class="col-md-6 product-buy-cell">
                            <h2 class="product-buy-cell__title">
                                OUR PRICE
                            </h2>
                            <div class="product-buy-cell__price product-price" style="visibility: visible;">
                                <span id="prod_price">Tk&zwnj;{{ object.offer_price }}</span>
                            </div>
                            <div class="product-buy-cell__was was-price" style="display: block">
                                Was&nbsp;
                                <strong id="full_price" style="visibility: visible;">
                                    Tk&zwnj;{{ object.regular_price }}.
                                </strong>
                            </div>
                        </div>
                    </div>
                    <div class="row product-buy__body">
                        <form action="{% url 'product:add_cart' pk=object.pk %}" class="product-buy__form" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6 col-6">
                                    <select class="input input--lg has-value" name="size" id="size">
                                        {% for variation in product_variation %}
                                        <option value="{{ variation.id }}">{{ variation.name }}</option>
							            {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-6 col-6">
                                    <div class="quantity-num">
                                        <input type="number" name="quantity" min="1" max="5" step="1" value="1">
                                      </div>
                                </div>
                            </div>
                            <div class="product-buy-status product-buy__stock is-positive" id="status_container">
                                <h3 class="product-buy-status__title"> Online Availability </h3>
                                <div class="product-buy-status__body" id="status">
        
                                    <span class="product-buy-status__status js-title"><span class="done"><i
                                                class="fa-solid fa-circle-check"></i>
                                                {% if object.quantity %}
                                                </span> In Stock</span>
					                            {% else %}
                                            </span> In Stock</span>
                                            {% endif %}
                                    <p id="js-delivery-countdown" class="product-buy-status__info"> </p>
                                </div>
        
                                <button type="submit"
                                    class="product-buy-status__action button button--green button--lg button--multiline">
                                    Add to Cart <br>
                                    <span class="sub"> for delivery </span>
                                </button>
        
                            </div>
                        </form>
                    </div>
                </div>
        
            </div>
        <!-- </div>
    </div>
</div> -->
<!-- Uren's Single Product Area End Here -->

<!-- Begin Uren's Single Product Tab Area -->
<div class="sp-product-tab_area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="sp-product-tab_nav">
                    <div class="product-tab">
                        <ul class="nav product-menu" id="manus">
                            <li><a class="active" data-toggle="tab" href="#description"><span>Description</span></a>
                            </li>
                            <!-- <li><a data-toggle="tab"  href="#reviews"><span>Reviews (1)</span></a></li> -->
                        </ul>
                    </div>
                    <div class="tab-content uren-tab_content">
                        <div id="description" class="tab-pane active show" role="tabpanel">
                            <div class="product-description">
                                <ul>
                                    <li>
                                        <strong>{{ object.name }}</strong>
                                        <span>{{ object.short_description }}</span>
                                    </li>
                                    <li>
                                        <span>{{ object.description }}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="reviews" class="tab-pane" role="tabpanel">
                            <div class="tab-pane active" id="tab-review">
                                <form class="form-horizontal" id="form-review">
                                    <div id="review">
                                        <table class="table table-striped table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td style="width: 50%;"><strong>Customer</strong></td>
                                                    <td class="text-right">15/09/20</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        <p>Good product! Thank you very much</p>
                                                        <div class="rating-box">
                                                            <ul>
                                                                <li><i class="ion-android-star"></i></li>
                                                                <li><i class="ion-android-star"></i></li>
                                                                <li><i class="ion-android-star"></i></li>
                                                                <li><i class="ion-android-star"></i></li>
                                                                <li><i class="ion-android-star"></i></li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <h2>Write a review</h2>
                                    <div class="form-group required">
                                        <div class="col-sm-12 p-0">
                                            <label>Your Email <span class="required">*</span></label>
                                            <input class="review-input" type="email" name="con_email" id="con_email"
                                                required>
                                        </div>
                                    </div>
                                    <div class="form-group required second-child">
                                        <div class="col-sm-12 p-0">
                                            <label class="control-label">Share your opinion</label>
                                            <textarea class="review-textarea" name="con_message"
                                                id="con_message"></textarea>
                                            <div class="help-block"><span class="text-danger">Note:</span> HTML is not
                                                translated!</div>
                                        </div>
                                    </div>
                                    <div class="form-group last-child required">
                                        <div class="col-sm-12 p-0">
                                            <div class="your-opinion">
                                                <label>Your Rating</label>
                                                <span>
                                                    <select class="star-rating">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="uren-btn-ps_right">
                                            <button class="uren-btn-2">Continue</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Uren's Single Product Tab Area End Here -->

<!-- Begin Uren's Product Area -->
<div class="uren-product_area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title_area">
                    <span></span>
                    <h3>Related Products</h3>
                </div>
                <div class="product-slider uren-slick-slider slider-navigation_style-1 img-hover-effect_area"
                    data-slick-options='{
                        "slidesToShow": 6,
                        "arrows" : true
                        }' data-slick-responsive='[
                                                {"breakpoint":1501, "settings": {"slidesToShow": 4}},
                                                {"breakpoint":1200, "settings": {"slidesToShow": 3}},
                                                {"breakpoint":992, "settings": {"slidesToShow": 2}},
                                                {"breakpoint":767, "settings": {"slidesToShow": 1}},
                                                {"breakpoint":480, "settings": {"slidesToShow": 1}}
                                            ]'>
                    {% for related_product in related_products %}
                    <div class="product-slide_item">
                        <div class="inner-slide">
                            <div class="single-product">
                                <div class="product-img">
                                    <a href="{% url 'product:productDetailView' pk=related_product.pk %}">
                                        <img class="primary-img" src="{{ related_product.image.url }}"
                                            alt="Uren's Product Image">
                                    </a>
                                    <div class="sticker">
                                        <span class="sticker">{{ related_product.product_tag.name }}</span>
                                    </div>
                                    <div class="add-actions">
                                        <ul>
                                            <li><a class="uren-add_cart" href="cart.html" data-toggle="tooltip"
                                                    data-placement="top" title="Add To Cart"><i class="ion-bag"></i></a>
                                            </li>
                  
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="product-desc_info">
                                        <div class="rating-box">
                                            <ul>
                                                <li><i class="ion-android-star"></i></li>
                                                <li><i class="ion-android-star"></i></li>
                                                <li><i class="ion-android-star"></i></li>
                                                <li class="silver-color"><i class="ion-android-star"></i></li>
                                                <li class="silver-color"><i class="ion-android-star"></i></li>
                                            </ul>
                                        </div>
                                        <h6><a class="product-name" href="{% url 'product:productDetailView' pk=related_product.pk %}">{{ related_product.name }}</a></h6>
                                        <div class="price-box">
                                            <span class="new-price">&#2547; {{ related_product.offer_price }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Uren's Product Area End Here -->

<!-- Begin Uren's Brand Area -->
<div class="uren-brand_area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title_area">
                    <span>Top Quality Partner</span>
                    <h3>Shop By Brands</h3>
                </div>
                <div class="brand-slider uren-slick-slider img-hover-effect_area" data-slick-options='{
                        "slidesToShow": 6
                        }' data-slick-responsive='[
                                                {"breakpoint":1200, "settings": {"slidesToShow": 5}},
                                                {"breakpoint":992, "settings": {"slidesToShow": 3}},
                                                {"breakpoint":767, "settings": {"slidesToShow": 3}},
                                                {"breakpoint":577, "settings": {"slidesToShow": 2}},
                                                {"breakpoint":321, "settings": {"slidesToShow": 1}}
                                            ]'>
                    {% for brand in brands %}
                    <div class="slide-item">
                        <div class="inner-slide">
                            <div class="single-product">
                                <a href="{% url 'product:brandListView' pk=brand.pk %}">
                                    {% if brand.logo %}
                                    <img src="{{ brand.logo.url }}" alt="Uren's Brand Image">
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Uren's Brand Area End Here -->



<script type="text/javascript">

	jQuery('<div class="quantity-nav"><div class="quantity-button quantity-up">+</div><div class="quantity-button quantity-down">-</div></div>').insertAfter('.quantity-num input');
    jQuery('.quantity-num').each(function() {
      var spinner = jQuery(this),
        input = spinner.find('input[type="number"]'),
        btnUp = spinner.find('.quantity-up'),
        btnDown = spinner.find('.quantity-down'),
        min = input.attr('min'),
        max = input.attr('max');

      btnUp.click(function() {
        var oldValue = parseFloat(input.val());
        if (oldValue >= max) {
          var newVal = oldValue;
        } else {
          var newVal = oldValue + 1;
        }
        spinner.find("input").val(newVal);
        spinner.find("input").trigger("change");
      });

      btnDown.click(function() {
        var oldValue = parseFloat(input.val());
        if (oldValue <= min) {
          var newVal = oldValue;
        } else {
          var newVal = oldValue - 1;
        }
        spinner.find("input").val(newVal);
        spinner.find("input").trigger("change");
      });

    });


		let thumbnails = document.getElementsByClassName('thumbnail')

		let activeImages = document.getElementsByClassName('active')

		for (var i = 0; i < thumbnails.length; i++) {

			thumbnails[i].addEventListener('click', function () {
				console.log(activeImages)

				if (activeImages.length > 0) {
					activeImages[0].classList.remove('active')
				}


				this.classList.add('active')
				document.getElementById('featured').src = this.src
			})
		}


		let buttonRight = document.getElementById('slideRight');
		let buttonLeft = document.getElementById('slideLeft');

		buttonLeft.addEventListener('click', function () {
			document.getElementById('slider').scrollLeft -= 180
		})

		buttonRight.addEventListener('click', function () {
			document.getElementById('slider').scrollLeft += 180
		})


	</script>

{% endblock contentBody %}