{% extends "base.html" %}
{% load static %}
{% block contentBody %}
<div class="checkout-area">
    <div class="container d-flex justify-content-center">
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-12">
                    <div class="checkbox-form">
                        <h3 style="text-align: center;">Address Details</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="checkout-form-list">
                                    <label>Full Name:<span class="required">*</span></label>
                                    <input placeholder="Full Name" name="full_name" value="{{ user.full_name }}" type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkout-form-list">
                                    <label>Phone Number <span class="required">*</span></label>
                                    <input placeholder="Phone Number" name="phone" value="{{ user.phone }}" type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkout-form-list">
                                    <label>Email <span class="required">*</span></label>
                                    <input disabled placeholder="Email" name="email" value="{{ user.email }}" type="email">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="checkout-form-list">
                                    <label>Address <span class="required">*</span></label>
                                    <input placeholder="Street address" name="address" type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkout-form-list">
                                    <label>Town / City <span class="required">*</span></label>
                                    <input placeholder="Town / City" name="city" type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkout-form-list">
                                    <label>Postcode / Zip <span class="required">*</span></label>
                                    <input placeholder="Postcode / Zip" name="zip" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="order-button-payment">
                            <input value="Add Address" type="submit">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock contentBody %}