{% extends "base.html" %}
{% load static %}
{% block contentBody %}
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
           
        </div>
    </div>
</div>

<div class="uren-login-register_area">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6">
                <!-- Login Form s-->
                <form method="POST">
                    {% csrf_token %}
                    <div class="login-form">
                        <h4 class="login-title">Sign in</h4>
                        {% if message %}
                        <div style="text-align: center;" class="alert alert-danger" id="error" role="alert">
                            {{ message }} 
                        </div>
                       {% endif %}

                        <div class="row">
                            <div class="col-md-12 col-12">
                                <label>Email Address*</label>
                                <input type="email" placeholder="Email Address" name="email">
                            </div>
                            <div class="col-12 mb--20">
                                <label>Password*</label>
                                <input type="password" placeholder="Password" name="password">
                            </div>
                            <div class="col-md-4">
                                <div class="forgotton-password_info" >
                                    <a href="{% url 'auth_user:password_reset' %}">Forgot Password?</a> 
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button class="uren-login_btn">Sign in</button>
                            </div>
                            <div class="col-md-12 pt-4" style="text-align: center;">
                                <div class="forgotton-password_info" >
                                   Don't have a account? <a href="{% url 'auth_user:registration' %}">Sign Up</a> 
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    const myTimeout = setTimeout(myStopFunction, 10000);
    function myStopFunction() {
    document.getElementById('error').style.display = 'none';
    }
</script>
{% endblock contentBody %}