{% extends "base.html" %}
{% load static %}
{% block contentBody %}
     <!-- Begin Uren's Breadcrumb Area -->
     <div class="breadcrumb-area">
        <div class="container">
            <div class="breadcrumb-content">
                
            </div>
        </div>
    </div>
    <!-- Uren's Breadcrumb Area End Here -->
    <!-- Begin Uren's Page Content Area -->
<main class="page-content">
    <!-- Begin Uren's Account Page Area -->
    <div class="account-page-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <ul class="nav myaccount-tab-trigger" id="account-page-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="account-dashboard-tab" data-toggle="tab" href="#account-dashboard" role="tab" aria-controls="account-dashboard" aria-selected="true">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="account-orders-tab" data-toggle="tab" href="#account-orders" role="tab" aria-controls="account-orders" aria-selected="false">Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="account-address-tab" data-toggle="tab" href="#account-address" role="tab" aria-controls="account-address" aria-selected="false">Addresses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="account-details-tab" data-toggle="tab" href="#account-details" role="tab" aria-controls="account-details" aria-selected="false">Account Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="account-logout-tab" href="{% url 'auth_user:logout' %}" role="tab" aria-selected="false">Logout</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-9">
                    <div class="tab-content myaccount-tab-content" id="account-page-tab-content">
                        <div class="tab-pane fade show active" id="account-dashboard" role="tabpanel" aria-labelledby="account-dashboard-tab">
                            <div class="myaccount-dashboard">
                                <p>Hello <b>{{ user.get_full_name }}</b></p>
                                <p>From your account dashboard you can view your recent orders and
                                    billing addresses.</p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="account-orders" role="tabpanel" aria-labelledby="account-orders-tab">
                            <div class="myaccount-orders">
                                <h4 class="small-title">MY ORDERS</h4>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover">
                                        <tbody>
                                            <tr>
                                                <th>ORDER</th>
                                                <th>DATE</th>
                                                <th>STATUS</th>
                                                <th>TOTAL</th>
                                                <th></th>
                                            </tr>
                                            {% for order in orders %}
                                            <tr>
                                                <td><a class="account-order-id" href="javascript:void(0)">#{{ order.order_id }}</a></td>
                                                <td>{{ order.created_at|date:"M d, Y" }}</td>
                                                {% if order.delivery_status == 'CA' %}
                                                <td>Cancelled</td>
                                                {% elif order.delivery_status == 'PR' %}
                                                <td>Processing</td>
                                                {% else %}
                                                <td>Delivered</td>
                                                {% endif %}
                                                <td>{{ order.total_amount }}</td>
                                                <td><a href="{% url 'auth_user:order-details' order_id=order.order_id %}" class="uren-btn uren-btn_dark uren-btn_sm"><span>View</span></a>
                                                </td>
                                            </tr>
                                           {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="account-address" role="tabpanel" aria-labelledby="account-address-tab">
                            <div class="myaccount-address">
                                <div class="row">
                                    <div class="col">
                                        <h4 class="small-title">BILLING ADDRESS</h4>
                                        <ul>
                                            <li>Name: <b>{{ billing_address.name }}</b></li>
                                            <li>Phone: <b>{{ billing_address.phone }}</b></li>
                                            <li>
                                                <address>
                                                    {{ billing_address.street_address }}
                                                </address>
                                            </li>
                                            <li>ZIP code: <b>{{ billing_address.zip_code }}</b></li>
                                            <li>City: <b>{{ billing_address.city }}</b></li>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <h4 class="small-title">SHIPPING ADDRESS</h4>
                                        <ul>
                                            <li>Name: <b>{{ current_address.name }}</b></li>
                                            <li>Phone: <b>{{ current_address.phone }}</b></li>
                                            <li>
                                                <address>
                                                    {{ current_address.street_address }}
                                                </address>
                                            </li>
                                            <li>ZIP code: <b>{{ current_address.zip_code }}</b></li>
                                            <li>City: <b>{{ current_address.city }}</b></li>
                                        </ul>
                                        <!-- <div class="pt-2">
                                            <a class="btn btn-secondary" href="#account-details" role="button">Change Address</a>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="account-details" role="tabpanel" aria-labelledby="account-details-tab">
                            <div class="myaccount-details">
                                <form action="#" class="uren-form">
                                    <div class="uren-form-inner">
                                        <div class="single-input single-input-half">
                                            <label for="account-details-firstname">Full Name*</label>
                                            <input type="text" disabled value="{{ user.get_full_name }}"  name="full_name" placeholder="Full Name" id="account-details-firstname">
                                        </div>
                                        <div class="single-input single-input-half">
                                            <label for="account-details-lastname">Phone Number*</label>
                                            <input type="tel" disabled value="{{ user.phone }}" id="account-details-lastname" name="phone"  placeholder="Phone Number">
                                        </div>
                                        <div class="single-input">
                                            <label for="account-details-email">Email*</label>
                                            <input type="email" disabled value="{{ user.email }}" id="account-details-email" name="email" placeholder="Email">
                                        </div>
                                        <!-- <div class="single-input">
                                            <label for="account-details-oldpass">Current Password(leave blank to leave
                                                unchanged)</label>
                                            <input type="password" id="account-details-oldpass" name="current_pass" placeholder="Current Password">
                                        </div>
                                        <div class="single-input">
                                            <label for="account-details-newpass">New Password (leave blank to leave
                                                unchanged)</label>
                                            <input type="password" id="account-details-newpass" name="new_password" placeholder="New Password">
                                        </div>
                                        <div class="single-input">
                                            <label for="account-details-confpass">Confirm New Password</label>
                                            <input type="password" id="account-details-confpass" name="confirm_password" placeholder="Confirm New Password">
                                        </div>
                                        <div class="single-input">
                                            <button class="uren-btn uren-btn_dark" type="submit"><span>SAVE
                                            CHANGES</span></button>
                                        </div> -->
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Uren's Account Page Area End Here -->
</main>
{% endblock contentBody %}