{% extends "base.html" %}
{% load static %}
{% block contentBody %}
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
           
        </div>
    </div>
</div>

<div class="uren-login-register_area">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="col-sm-12 col-md-12 col-lg-6 col-xs-12">
                <form method="POST">
                    {% csrf_token %}
                    <div class="login-form">
                        <h4 class="login-title">Sign up</h4>
                        {% if message %}
                        <div style="text-align: center;" id="error"  class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-md-12">
                                <label>Full Name*</label>
                                <input type="text" placeholder="First Name" maxlength="255" required id="id_full_name" name="full_name">
                            </div>
                            <div class="col-md-12">
                                <label>Email Address*</label>
                                <input type="email" placeholder="email" name="email" maxlength="254" autofocus required id="id_email">
                            </div>
                          
                            <div class="col-md-12">
                                <label>Phone Number*</label>
                                <input type="text" name="phone" maxlength="15" required id="id_phone" placeholder="Phone Number">
                            </div>
                          
                            <div class="col-md-6">
                                <label>Password*</label>
                                <input type="password" name="password1" autocomplete="new-password" required id="id_password1">
                            </div>
                            <div class="col-md-6">
                                <label>Confirm Password*</label>
                                <input type="password" name="password2" autocomplete="new-password" onkeyup='check();' required id="id_password2">
                                <span id='message'></span>
                            </div>
                            <div class="col-12">
                                <button class="uren-register_btn" id="register" disabled>Sing up</button>
                            </div>
                            <div class="col-md-12 pt-4" style="text-align: center;">
                                <div class="forgotton-password_info" >
                                   Already have a account? <a href="{% url 'auth_user:login' %}">Sign up</a> 
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>

    var check = function() {
    if (document.getElementById('id_password1').value === document.getElementById('id_password2').value) {
        document.getElementById('message').style.color = 'green';
        document.getElementById('message').innerHTML = 'Matching';
        document.getElementById('register').style.background = '#ffc400';
        document.getElementById('register').removeAttribute('disabled');
    } else {
        document.getElementById('message').style.color = 'red';
        document.getElementById('message').innerHTML = 'Not matching';
    }
    }


    const myTimeout = setTimeout(myStopFunction, 10000);
    function myStopFunction() {
    document.getElementById('error').style.display = 'none';
    }
</script>
{% endblock contentBody %}