.switch {
    padding: 32px;
}

#select-option {
    margin: 0 24px;
}

#app-name {
    display: none;
}

.table {
    border-radius: 20px;
    border-radius: 19px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  25px 25px 50px #fdfdfd,
                 -25px -25px 50px #ffffff;
}

.container-fluid {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.navbar-brand,
.nav-item {
    display: block;
    padding: 5px 55px;
}

/* 
.body-background {
    background-attachment: fixed;
    background-image: url("../images/back.jpg");
    background-position: 0px 0px;
    background-repeat: repeat;
    height: 100%;
    position: absolute;
    width: 100%;
    min-width: 1170px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
} */

.container-fluid {
    background-color: rgba(0, 0, 0, 0);
    /* opacity: 0.1; */
}

#id_new_password1, #id_new_password2{
    margin: 0 !important;
    width:  100% !important;
}
.my-button {
    background: #A29D8B !important;
    color: #fff !important;
    font-family: Trebuchet MS !important;
    font-size: 15px !important;
    font-weight: 800 !important;
    font-style: normal !important;
    text-decoration: none;
    padding: 10px 15px !important;
    border-radius: 3px !important;
    display: inline-flex !important;
    justify-content: center;
    align-items: center;
}

.my-button span {
    margin-right: 15px;
    display: block;
    width: 25px;
    height: 25px;

}

.my-button:hover {
    background:  #FFC400 !important;
}

.my-button:active {
    transform: scale(0.95) !important;
}

.sing-out {
    font-size: 13px;
    font-weight: 600;
    padding: 5px 10px;
}

.sing-out i {
    padding-right: 5px;
}

.col-md-12 .logo-image {
    width: 120px;
    display: block;
    margin: 0 auto;
    padding: 20px 0;
}

.reset-pass {
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
}

body{
    background-color: #F8F8F8 !important;
}

.reset-pass-card {
    padding: 50px;
    border-radius: 7px;
    background: white;
    box-shadow: 7px 7px 20px #bebebe,
        -7px -7px 20px #ffffff;

}

#id_email, #id_new_password1, #id_new_password2 {
    margin: 0px 5px 18px 5px;
    width: 340px;
    padding: 5px 15px;
    font-size: 18px !important;
    border: none;
    text-align: center;
    border-radius: 2px;
    background: #ededed;
    box-shadow: inset 26px 26px 51px #dcdcdc,
                inset -26px -26px 51px #fefefe;
}

#id_email:focus, #id_new_password1:focus, #id_new_password2:focus {
    outline: none;
}

.reset-pass-card label {
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.login-link{
    font-size: 25px;
    text-decoration: none;
    font-weight: 600;
}
.helptext{
    display: none;
}
.errorlist{
    list-style: none;
    text-align: center;
    color: rgb(255, 64, 64);
    position: relative;
}
#resendForm{
    display: none;
    position: fixed;
    top: 0;
}


.loader {
    border: 16px solid #b3b3b3;
    border-radius: 50%;
    border-top: 16px solid #0097DC;
    border-bottom: 16px solid #0097DC;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}













