<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if title %} {{ title }} {% else %} Dhaka Metro {% endif %} </title>

    {% block contentHead %}
    {% endblock contentHead %}


    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon.ico' %}">

    <!-- CSS
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/vendor/bootstrap.min.css' %}">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="{% static 'assets/css/vendor/font-awesome.css' %}">
    <!-- Fontawesome Star -->
    <link rel="stylesheet" href="{% static 'assets/css/vendor/fontawesome-stars.css' %}">
    <!-- Ion Icon -->
    <link rel="stylesheet" href="{% static 'assets/css/vendor/ion-fonts.css' %}">
    <!-- Slick CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/slick.css' %}">
    <!-- Animation -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/animate.css' %}">
    <!-- jQuery Ui -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/jquery-ui.min.css' %}">
    <!-- Lightgallery -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/lightgallery.min.css' %}">
    <!-- Nice Select -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/nice-select.css' %}">
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
    integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
    ></script>
    

    <!-- Vendor & Plugins CSS (Please remove the comment from below vendor.min.css & plugins.min.css for better website load performance and remove css files from the above) -->
    <!--
    <script src="assets/js/vendor/vendor.min.js"></script>
    <script src="assets/js/plugins/plugins.min.js"></script>
    -->

    <!-- Main Style CSS (Please use minify version for better website load performance) -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <!--<link rel="stylesheet" href="assets/css/style.min.css">-->
    {% block header %}
    {% endblock header %}


</head>
<body class="template-color-1">

    <div class="main-wrapper">
        <!-- Begin Uren's Header Main Area -->
        <header class="header-main_area bg--black">
            <div class="header-top_area d-lg-block d-none">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-7 col-lg-8">
                            <div class="main-menu_area position-relative">
                                <nav class="main-nav">
                                    <ul>
                                        {% for  category in  categorys %}
                                        <li class="dropdown-holder active"><a href="{% url 'product:categoryListView' pk=category.pk %}">{{ category.name }}</a>
                                            <ul class="hm-dropdown">
                                                {% for subcategory in subcategorys %}
                                                {% if subcategory.category == category %}
                                                <li><a href="{% url 'product:subcategoryListView' pk=subcategory.pk %}">{{ subcategory.name }}</a></li>
                                                {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        {% endfor %}
                                        <li class="dropdown-holder active"><a>Brands</a>
                                            <ul class="hm-dropdown">
                                                {% for  brand in  brands %}
                                                <li><a href="{% url 'product:brandListView' pk=brand.pk %}">{{ brand.name }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-4">
                            <div class="ht-right_area">
                                <div class="ht-menu">
                                    <ul>
                                        <li><a href="{% url 'auth_user:profile' %}" style="color: beige !important;">My Account<i class="fa fa-chevron-down"></i></a>
                                            <ul class="ht-dropdown ht-my_account">
                                                {% if user.is_authenticated %}
                                                <li><a href="{% url 'auth_user:profile' %}">Profile</a></li>
                                                <li><a href="{% url 'auth_user:logout' %}">Log Out</a></li>
                                                {% else %}
                                                <li><a href="{% url 'auth_user:registration' %}">Sign up</a></li>
                                                <li><a href="{% url 'auth_user:login' %}">Sign in</a></li>
                                                {% endif %}
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-middle_area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="custom-logo_col col-12">
                            <div class="header-logo_area">
                                <a href="{% url 'product:home' %}">
                                    <img src="{% static 'assets/images/menu/logo/1.png' %}" alt="Uren's Logo">
                                </a>
                            </div>
                        </div>
                        <div class="custom-category_col col-12">
                            <div class="category-menu category-menu-hidden">
                                <div class="category-heading">
                                    <h2 style="color: #333333 !important;" class="categories-toggle">
                                        <span>Shop By</span>
                                        <span>Department</span>
                                    </h2>
                                </div>
                                <div id="cate-toggle" class="category-menu-list">
                                    <ul>
                                        {% for category in categorys %}
                                        <li class="right-menu"><a href="{% url 'product:categoryListView' pk=category.pk %}">{{ category.name }}</a>
                                            <ul class="cat-mega-menu">
                                                <li class="right-menu cat-mega-title">
                                                    <ul>
                                                        {% for subcategory in subcategorys %}
                                                        {% if subcategory.category == category %}
                                                        <li><a href="{% url 'product:subcategoryListView' pk=subcategory.pk %}">{{ subcategory.name }}</a></li>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        {% endfor %}
                                        <li class="right-menu"><a>Brand</a>
                                            <ul class="cat-mega-menu">
                                                <li class="right-menu cat-mega-title">
                                                    <a>Brands</a>
                                                    <ul>
                                                        {% for brand in brands %}
                                                        <li><a href="{% url 'product:brandListView' pk=brand.pk %}">{{ brand.name }}</a></li>
                                                        {% endfor  %}
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="custom-search_col col-12">
                            <div class="hm-form_area">
                                <form action="{% url 'product:productListView' %}" method="GET" class="hm-searchbox">
                                    {% csrf_token %}
                                    <select class="nice-select select-search-category" name="categories" >
                                        <option value="0">All Categories</option>
                                        {% for category in categorys %}
                                        <option value="{{ category.id }}">{{ category.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <input type="text" name="search" placeholder="Enter your search key ...">
                                    <button class="header-search_btn" type="submit"><i
                                        class="ion-ios-search-strong"><span>Search</span></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="custom-cart_col col-12">
                            <div class="header-right_area">
                                <ul>
                                    <li class="mobile-menu_wrap d-flex d-lg-none">
                                        <a href="#mobileMenu" class="mobile-menu_btn toolbar-btn color--white">
                                            <i class="ion-navicon"></i>
                                        </a>
                                    </li>
                                    <li class="minicart-wrap">
                                        <a href="#miniCart" class="minicart-btn toolbar-btn">
                                            <div class="minicart-count_area">
                                                {% if cart_items %}
                                                <span class="item-count">{{ cart_items.count }}</span>
                                                {% endif %}
                                                <i class="ion-bag"></i>
                                            </div>
                                            <div class="minicart-front_text">
                                                <span>Cart:</span>
                                                {% if total_items_price.price__sum %}
                                                <span class="total-price">&#2547; {{ total_items_price.price__sum }}</span>
                                                {% else %}
                                                <span class="total-price">&#2547; 00.00</span>
                                                {% endif %}
                                            </div>
                                        </a>
                                    </li>
                                    <li class="contact-us_wrap">
                                        <a style="color: wheat !important;" href="tel://+123123321345"><i class="ion-android-call"></i>+880 1703-081812</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="offcanvas-minicart_wrapper" id="miniCart">
                <div class="offcanvas-menu-inner">
                    <a href="#" class="btn-close"><i class="ion-android-close"></i></a>
                    <div class="minicart-content">
                        <div class="minicart-heading">
                            <h4>Shopping Cart</h4>
                        </div>
                        <ul class="minicart-list">
                            {% if cart_items %}
                            {% for cart_item in cart_items %}
                            <li class="minicart-product">
                                <a class="product-item_remove" href="{% url 'product:cart_delete' pk=cart_item.pk %}"><i
                                    class="ion-android-close"></i></a>
                                <div class="product-item_img">
                                    <img src="{{ cart_item.product.image.url }}" alt="Uren's Product Image">
                                </div>
                                <div class="product-item_content">
                                    <a class="product-item_title" href="{% url 'product:productDetailView' pk=cart_item.product.pk %}">{{ cart_item.product.name }}</a>
                                    <span class="product-item_quantity">{{ cart_item.quantity }} x &#2547;{{ cart_item.product.offer_price }}</span>
                                </div>
                            </li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                    <div class="minicart-item_total">
                        <span>Subtotal</span>
                        {% if cart_items %}
                        <span class="ammount">&#2547;{{ total_items_price.price__sum }}</span>
                        {% else %}
                        <span class="ammount">&#2547; 00.00</span>
                        {% endif %}
                    </div>
                    <div class="minicart-btn_area">
                        <a href="{% url 'product:cart' %}" class="uren-btn uren-btn_dark uren-btn_fullwidth">View Cart</a>
                    </div>
                    <div class="minicart-btn_area">
                        <a href="{% url 'product:checkout' %}" class="uren-btn uren-btn_dark uren-btn_fullwidth">Checkout</a>
                    </div>
                </div>
            </div>
            <div class="mobile-menu_wrapper" id="mobileMenu">
                <div class="offcanvas-menu-inner">
                    <div class="container">
                        <a href="#" class="btn-close"><i class="ion-android-close"></i></a>
                        <div class="offcanvas-inner_search">
                            <form action="{% url 'product:productListView' %}" method="GET" class="inner-searchbox">
                                {% csrf_token %}
                                <select style="display: none;" class="nice-select select-search-category" name="categories" >
                                    <option value="0">All Categories</option>
                                    {% for category in categorys %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                    {% endfor %}
                                </select>
                                <input type="text" name="search" placeholder="Search for item...">
                                <button class="search_btn" type="submit"><i class="ion-ios-search-strong"></i></button>
                            </form>
                        </div>
                        <nav class="offcanvas-navigation">
                            <ul class="mobile-menu">
                                {% for  category in  categorys %}
                                <li class="menu-item-has-children active"><a href="{% url 'product:categoryListView' pk=category.pk %}"><span
                                    class="mm-text">{{ category.name }}</span></a>
                                    <ul class="sub-menu">
                                        {% for subcategory in subcategorys %}
                                        {% if subcategory.category == category %}
                                        <li><a href="{% url 'product:subcategoryListView' pk=subcategory.pk %}"><span class="mm-text">{{ subcategory.name }}</span></a></li>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                </li>
                                {% endfor %}
                                <li class="menu-item-has-children">
                                    <a>
                                        <span class="mm-text">Brand</span>
                                    </a>
                                    <ul class="sub-menu">
                                        {% for brand in brands %}
                                            <li><a href="{% url 'product:brandListView' pk=brand.pk %}"><span class="mm-text">{{ brand.name }}</span></a></li>
                                        {% endfor  %}
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                        <nav class="offcanvas-navigation user-setting_area">
                            <ul class="mobile-menu">
                                <li class="menu-item-has-children active"><a href="javascript:void(0)"><span
                                        class="mm-text">User
                                        Setting</span></a>
                                    <ul class="sub-menu">
                                        {% if user.is_authenticated %}
                                        <li><a href="{% url 'auth_user:profile' %}"><span class="mm-text">My Account</span></a></li>
                                        <li><a href="{% url 'auth_user:logout' %}"><span class="mm-text">Sign Out</span></a></li>
                                        {% else %}
                                        <li><a href="{% url 'auth_user:registration' %}"><span class="mm-text">Sign up</span></a></li>
                                        <li><a href="{% url 'auth_user:login' %}"><span class="mm-text">Sign in</span></a></li>
                                        {% endif %}
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- Uren's Header Main Area End Here -->
    </div>



    {% block contentBody %}
    {% endblock contentBody %}


    <!-- Begin Uren's Footer Area -->
    <div class="uren-footer_area">
        <div class="footer-top_area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="newsletter-area">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-middle_area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="footer-widgets_info">
                            <div class="footer-widgets_logo">
                                <a href="#">
                                    <img src="{% static 'assets/images/menu/logo/la-g-f.png' %}" alt="Uren's Footer Logo">
                                </a>
                            </div>
                            <div class="widget-short_desc">
                                <p>We are a team of designers and developers that create high quality HTML Template &
                                    Woocommerce, Shopify Theme.
                                </p>
                            </div>
                            <div class="widgets-essential_stuff">
                                <ul>
                                    <li class="uren-address"><span>Address:</span> <span>The Barn,
                                        Ullenhall, Henley
                                        in
                                        Arden B578 5CC, England</span></li>
                                    <li class="uren-phone"><span>Call
                                    Us:</span> <a href="tel://+123123321345">+123 321 345</a>
                                    </li>
                                    <li class="uren-email"><span>Email:</span> <a href="mailto://info@yourdomain.com">info@yourdomain.com</a></li>
                                </ul>
                            </div>
                            <div class="uren-social_link">
                                <ul>
                                    <li class="facebook">
                                        <a href="https://www.facebook.com/" data-toggle="tooltip" target="_blank" title="Facebook">
                                            <i class="fab fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="twitter">
                                        <a href="https://twitter.com/" data-toggle="tooltip" target="_blank" title="Twitter">
                                            <i class="fab fa-twitter-square"></i>
                                        </a>
                                    </li>
                                    <li class="google-plus">
                                        <a href="https://www.plus.google.com/discover" data-toggle="tooltip" target="_blank" title="Google Plus">
                                            <i class="fab fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li class="instagram">
                                        <a href="https://rss.com/" data-toggle="tooltip" target="_blank" title="Instagram">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="footer-widgets_area">
                            <div class="row">
                                <div class="col-lg-3 col-md-6">
                                    <div class="footer-widgets_title">
                                        <h3>Information</h3>
                                    </div>
                                    <div class="footer-widgets">
                                        <ul>
                                            <li><a href="{% url 'auth_user:about_us' %}">About Us</a></li>
                                            <li><a href="{% url 'auth_user:delivery_information' %}">Delivery Information</a></li>
                                            <li><a href="{% url 'auth_user:privacy_policy' %}">Privacy Policy</a></li>
                                            <li><a href="{% url 'auth_user:frequently' %}">Terms & Conditions</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="footer-widgets_title">
                                        <h3>Customer Service</h3>
                                    </div>
                                    <div class="footer-widgets">
                                        <ul>
                                            <li><a href="{% url 'auth_user:contact_us' %}">Contact Us</a></li>
                                            <li><a href="{% url 'auth_user:returns' %}">Returns</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="footer-widgets_title">
                                        <h3>Extras</h3>
                                    </div>
                                    <div class="footer-widgets">
                                        <ul>
                                            <li><a href="{% url 'auth_user:about_us' %}">About Us</a></li>
                                            <li><a href="{% url 'auth_user:delivery_information' %}">Delivery Information</a></li>
                                            <li><a href="{% url 'auth_user:privacy_policy' %}">Privacy Policy</a></li>
                                            <li><a href="{% url 'auth_user:frequently' %}">Terms & Conditions</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="footer-widgets_title">
                                        <h3>My Account</h3>
                                    </div>
                                    <div class="footer-widgets">
                                        <ul>
                                            <li><a href="{% url 'auth_user:profile' %}">Profile</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom_area">
            <div class="container-fluid">
                <div class="footer-bottom_nav">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="copyright">
                                <!-- <span><a href="templateshub.net">Templateshub</a></span> -->
                            </div>

                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="payment">
                                <a href="#">
                                    <img src="{% static 'assets/images/menu/logo/la-g-f.png' %}" alt="Uren's Payment Method">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Uren's Footer Area End Here -->


   

      <!-- JS
============================================ -->

    <!-- jQuery JS -->
    <script src="{% static 'assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <!-- Modernizer JS -->
    <script src="{% static 'assets/js/vendor/modernizr-2.8.3.min.js' %}"></script>
    <!-- Popper JS -->
    <script src="{% static 'assets/js/vendor/popper.min.js' %}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static 'assets/js/vendor/bootstrap.min.js' %}"></script>

    <!-- Slick Slider JS -->
    <script src="{% static 'assets/js/plugins/slick.min.js' %}"></script>
    <!-- Barrating JS -->
    <script src="{% static 'assets/js/plugins/jquery.barrating.min.js' %}"></script>
    <!-- Counterup JS -->
    <script src="{% static 'assets/js/plugins/jquery.counterup.js' %}"></script>
    <!-- Nice Select JS -->
    <script src="{% static 'assets/js/plugins/jquery.nice-select.js' %}"></script>
    <!-- Sticky Sidebar JS -->
    <script src="{% static 'assets/js/plugins/jquery.sticky-sidebar.js' %}"></script>
    <!-- Jquery-ui JS -->
    <script src="{% static 'assets/js/plugins/jquery-ui.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.ui.touch-punch.min.js' %}"></script>
    <!-- Lightgallery JS -->
    <script src="{% static 'assets/js/plugins/lightgallery.min.js' %}"></script>
    <!-- Scroll Top JS -->
    <script src="{% static 'assets/js/plugins/scroll-top.js' %}"></script>
    <!-- Theia Sticky Sidebar JS -->
    <script src="{% static 'assets/js/plugins/theia-sticky-sidebar.min.js' %}"></script>
    <!-- Waypoints JS -->
    <script src="{% static 'assets/js/plugins/waypoints.min.js' %}"></script>
    <!-- jQuery Zoom JS -->
    <script src="{% static 'assets/js/plugins/jquery.zoom.min.js' %}"></script>

    <!-- Vendor & Plugins JS (Please remove the comment from below vendor.min.js & plugins.min.js for better website load performance and remove js files from avobe) -->
    <!--
<script src="assets/js/vendor/vendor.min.js"></script>
<script src="assets/js/plugins/plugins.min.js"></script>
-->

    <!-- Main JS -->
    <script src="{% static 'assets/js/main.js' %}"></script>


</body>
</html>