{% extends "base.html" %}
{% load static %}
{% block contentBody %}
<style>
    body {
            background-size: cover;
            font-family: 'Lato', sans-serif;
            color: rgba(116, 116, 116, 0.667);
            background: linear-gradient(140deg , #fff , 50% , #FFFFFF);    

        }
  
        p {
            font-size: 14px;
            margin-bottom: 7px;

        }

        .small {
            letter-spacing: 0.5px !important;
        }

        .card-1 {
            box-shadow: 2px 2px 10px 0px #FFC400;
        }

        hr {
            background-color: rgba(248, 248, 248, 0.667);
        }


        .bold {
            font-weight: 500;
        }

        .change-color {
            color: #FFC400 !important;
        }

        .card-2 {
            box-shadow: 1px 1px 3px 0px rgb(112, 115, 139);

        }

        .fa-circle.active {
            font-size: 8px;
            color: #FFC400;
        }

        .fa-circle {
            font-size: 8px;
            color: #aaa;
        }

        .rounded {
            border-radius: 2.25rem !important;
        }


        .progress-bar {
            background-color: #FFC400 !important;
        }


        .progress {
            height: 5px !important;
            margin-bottom: 0;
        }

        .invoice {
            position: relative;
            top: -70px;
        }

        .Glasses {
            position: relative;
            top: -12px !important;
        }

        .card-footer {
            background-color: #FFC400;
            color: #fff;
        }

        h2 {
            color: #FFC400;
            letter-spacing: 2px !important;
        }
        .mb-1, .my-1 {
            margin-bottom: 0.55rem!important;
        }

        .display-3 {
            /* font-weight: 500 !important; */
            font-size: 3rem;
            font-weight: 500;
            line-height: 1.2;
            color: #FFFFFF;
        }

        @media (max-width: 479px) {
            .invoice {
                position: relative;
                top: 7px;
            }

            .border-line {
                border-right: 0px solid rgb(226, 206, 226) !important;
            }

        }

        @media (max-width: 700px) {

            h2 {
                color: #FFC400;
                font-size: 17px;
            }

            .display-3 {
                font-size: 28px;
                font-weight: 500 !important;
            }
        }

        .card-footer small {
            letter-spacing: 7px !important;
            font-size: 12px;
        }

        .border-line {
            border-right: 1px solid rgb(226, 206, 226)
        }
</style>
<!-- Begin Uren's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>Order Details</h2>
        </div>
    </div>
</div>
<!-- Uren's Breadcrumb Area End Here -->
<!-- Begin Uren's Error 404 Page Area -->



<div class="container-fluid my-5  d-flex  justify-content-center">
    <div class="card card-1" id="invoice">
        <div class="card-header bg-white">
            <div class="media flex-sm-row flex-column-reverse justify-content-between  ">
                <div class="col my-auto">
                    <h4 class="mb-0">Thanks for your Order,<span class="change-color"> {{ user.get_full_name }}</span> !</h4>
                </div>
                <div class="col-auto text-center  my-auto pl-0 pt-sm-4"> <img
                        class="img-fluid my-auto align-items-center mb-0 pt-3" src="{% static 'assets/images/menu/logo/1.png' %}"
                        width="100" height="100">
                        <p></p>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row justify-content-between mb-3">
                <div class="col-auto">
                    <h6 class="color-1 mb-0 change-color">Receipt</h6>
                </div>
                <div class="col-auto  "> <small>Receipt Voucher : #{{order_id}}</small> </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card card-2">
                        {% for cart_item in order_cart_item %}
                        <div class="card-body">
                            <div class="media">
                                <div class="sq align-self-center "> <img
                                        class="img-fluid  my-auto align-self-center mr-2 mr-md-4 pl-0 p-0 m-0"
                                        src="{{ cart_item.product.image.url }}" width="135" height="135" /> </div>
                                <div class="media-body my-auto text-right">
                                    <div class="row  my-auto flex-column flex-md-row">
                                        <div class="col my-auto">
                                            <h6 class="mb-0"> {{ cart_item.product.name }}</h6>
                                        </div>
                                        <div class="col-auto my-auto"> <small>{{ cart_item.product.subcategory.name }}</small></div>
                                        <div class="col my-auto"> <small>Size : {{ cart_item.product_variant.name }}</small></div>
                                        <div class="col my-auto"> <small>Quantity : {{ cart_item.quantity }}</small></div>
                                        <div class="col my-auto">
                                            <h6 class="mb-0">&#2547;{{ cart_item.price }}</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col">
                    <div class="row justify-content-between">
                        <div class="col-auto">
                            <p class="mb-1 text-dark"><b>Order Details</b></p>
                        </div>
                        <div class="flex-sm-col text-right col">
                            <p class="mb-1"><b>Total</b></p>
                        </div>
                        <div class="flex-sm-col col-auto">
                            <p class="mb-1">&#2547; {{ total_order_items_price.price__sum }}</p>
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="flex-sm-col text-right col">
                            <p class="mb-1"> <b>Vat</b></p>
                        </div>
                        <div class="flex-sm-col col-auto">
                            <p class="mb-1">&#2547; {{ vat }}</p>
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="flex-sm-col text-right col">
                            <p class="mb-1"><b>Delivery Charges</b></p>
                        </div>
                        <div class="flex-sm-col col-auto">
                            <p class="mb-1">&#2547; 120</p>
                        </div>
                    </div>

                    
                </div>
            </div>
            <div class="row invoice ">
                <div class="col">
                    <p class="mb-1"> Invoice Number : #{{order_id}}</p>
                    <p class="mb-1">Invoice Date : {{ orders.created_at }}</p>
                    <p class="mb-1">Recepits Voucher: #{{order_id}}</p>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="jumbotron-fluid">
                <div class="row justify-content-between ">
                    <div class="col-sm-auto col-auto my-auto"><img class="img-fluid my-auto align-self-center "
                            src="{% static 'assets/images/menu/logo/1.png' %}" width="100" height="100"></div>
                    <div class="col-auto my-auto ">
                        <h2 class="mb-0 font-weight-bold">TOTAL PAID</h2>
                    </div>
                    <div class="col-auto my-auto ml-auto">
                        <h1 class="display-3 ">&#2547; {{ total }}</h1>
                    </div>
                </div>
                <!-- <div class="row mb-3 mt-3 mt-md-0">
                    <div class="col-auto border-line"> <small class="text-white">PAN:AA02hDW7E</small></div>
                    <div class="col-auto border-line"> <small class="text-white">CIN:UMMC20PTC </small></div>
                    <div class="col-auto "><small class="text-white">GSTN:268FD07EXX </small> </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
<div class="container" style="text-align: center;">
    <a style="font-size: 18px; padding: 20px; margin: 18px auto; background-color: rgb(247, 80, 80); border-radius: 10px; color: white;" target="_blank" href="{% url 'auth_user:generate_pdf' order_id=orders.order_id %}">PDF Download</a>
</div>
<!-- html2pdf CDN link -->


{% endblock contentBody %}