<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .invoice-box {
            max-width: 800px;
            margin: auto;
            padding: 30px;
            font-size: 16px;
            line-height: 24px;
            font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
            color: rgb(0, 0, 0);
        }

        .invoice-box table {
            width: 100%;
            line-height: inherit;
            text-align: left;
        }

        .invoice-box table td {
            padding: 5px;
            vertical-align: top;
        }

        .invoice-box table tr td:nth-child(2) {
            text-align: right;
        }

        .invoice-box table tr.top table td {
            padding-bottom: 20px;
        }

        .invoice-box table tr.top table td.title {
            font-size: 45px;
            line-height: 45px;
            color: rgb(0, 0, 0);
        }

        .invoice-box table tr.information table td {
            padding-bottom: 40px;
        }

        .invoice-box table tr.heading td {
            background: #DDE2EE;
            border-bottom: 1px solid #ddd;
            padding: 10px;
            font-weight: bold;
        }

        .invoice-box table tr.details td {
            padding-bottom: 20px;
        }

        .invoice-box table tr.item td {
            border-bottom: 1px solid #eee;
        }

        .invoice-box table tr.item.last td {
            border-bottom: none;
        }

        .invoice-box table tr.Subtotal td:nth-child(2),
        .invoice-box table tr.total td:nth-child(2),
        .invoice-box table tr.total td:nth-child(3),
        .invoice-box table tr.Subtotal td:nth-child(3) {
            border-top: 1.5px solid rgb(77, 75, 75);
            font-weight: bold !important;

        }

        @media only screen and (max-width: 600px) {
            .invoice-box table tr.top table td {
                width: 100%;
                display: block;
                text-align: center;
            }

            .invoice-box table tr.information table td {
                width: 100%;
                display: block;
                text-align: center;
            }
        }

        .invoice-box.rtl {
            direction: rtl;
            font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        }

        .invoice-box.rtl table {
            text-align: right;
        }

        .invoice-box.rtl table tr td:nth-child(2) {
            text-align: left;
        }

        table tr td {
            text-align: left !important;
        }
        .center{
            text-align: center !important;
            text-align: center !important;
            vertical-align: center !important;
        }
        .sl{
            width: 50px !important;
        }
        .tr{
            text-align: right !important;
        }
    </style>
</head>

<body>

    <body>
        <div class="invoice-box">
            <table cellpadding="0" cellspacing="0">
                <tr class="top">
                    <td>
                        <img src="https://dhakametro.trademajestic.com/static/assets/images/menu/logo/1.png"
                            style="width: 100px; max-width: 300px" />
                    </td>
                    <td colspan="1">
                    </td>
                    <td>
                        
                        Dhaka Metro, Inc.<br />
                        12345 Sunny Road, 
                        Sunnyville, CA 12345<br />
                        01700000000
                    </td>
                </tr>
                <tr class="information">
                    <td>
                        <hr>
                        <strong>Customer Details:</strong><br>
                        {{orders.user.full_name}}<br />
                        {{orders.user.email}}<br />
                        {{orders.user.phone}}<br />
                    </td>
                    <td colspan="1">
                    </td>
                    <td>
                        <hr>
                        <strong>Delivery address:</strong><br>
                        {{orders.address.name}}<br />
                        {{orders.address.phone}}<br />
                        {{orders.address.street_address}},<br />
                        {{orders.address.city}}-{{orders.address.zip_code}}<br />
                    </td>
                </tr>
                
                <tr>
                    <td>
                        <hr>
                       <strong>Payment Information</strong><br>
                       Method : {{orders.payment_method}} <br>
                       Payment Date : {{orders.created_at}}

                    </td>
                    <td></td>
                    <td>
                        <hr>
                        <strong>Order Information</strong> <br> 
                        Invoice : {{order_id}}<br />
                        Order Date : {{orders.created_at}}<br />

                    </td>
                </tr>
            </table>
            <table>
                <tr class="heading">
                    <td class="center sl">SL</td>
                    <td class="center">Product Name</td>
                    <td class="center">Unit price</td>
                    <td class="center sl">Quantity</td>
                    <td class="center">Price</td>
                </tr>
                {% for item in order_cart_item %}
                <tr class="item center">
                    <td class="center">{{forloop.counter}}</td>
                    <td class="center">{{item.product.name}}<br>({{item.product_variant.name}})</td>
                    <td class="center">{{item.product.offer_price}}</td>
                    <td class="center">{{item.quantity}}</td>
                    <td class="center tr">{{item.price}} BDT</td>
                </tr>
                {% endfor %}
            </table>
            <table>
                <tr class="Subtotal">
                    <td class="center" colspan="3">
                    </td>
                    <td class="center">
                        <hr>
                        Subtotal :<br>
                        Delivery :<br>
                        Vat :<br>
                     </td>
                    <td class="tr">
                        <hr>
                        {{subtotal}} BDT <br>
                        120 BDT <br>
                        {{vat}} BDT <br>
                    </td>
                </tr>
                <tr class="total">
                    <td class="center" colspan="3">
                    </td>
                    <td class="center">
                        <hr>
                        Total :<br>
                        Payment :<br>
                        Due :
                    </td>
                    <td class="center tr">
                        <hr>
                        {{total}} BDT<br>
                        {{payment}} BDT <br>
                        {{due}} BDT
                    </td>
                </tr>
            </table>
        </div>
    </body>

    </html>