{% extends "base.html" %}
{% load static %}


{% block contentBody %}
        <!-- Begin Uren's Breadcrumb Area -->
        <div class="breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-content">
                    
                </div>
            </div>
        </div>
        <!-- Uren's Breadcrumb Area End Here -->
        <!-- Begin Uren's Error 404 Page Area -->
        <div class="error404-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 ml-auto mr-auto text-center">
                        <div class="search-error-wrapper">
                            <h1>404</h1>
                            <h2>Transaction Failed </h2>
                            <p class="short_desc">Please contact us?</p>
                            <div class="uren-btn-ps_center"></div>
                            <a href="{% url 'product:home' %}" class="uren-error_btn">Back To Home Page</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Uren's Error 404 Page End Here -->
{% endblock contentBody %}